@tailwind base;
@tailwind components;
@tailwind utilities;
.logo{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    font-style: normal;
  


}
body{
  background-color: #f2f2f1;
}
.leftList{
  @apply hidden 2xl:block  py-4 px-10 cursor-pointer;
}

*{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal
}

.boxShadow{
  @apply shadow-[rgba(99,99,99,0.2)_0px_2px_8px_0px];}

.shoeGrid{
  @apply 2xl:w-[100px] 2xl:h-[100px] h-[50px] w-[50px] mt-2 ;
}
.inputStyle{
  @apply px-[15px] py-2 outline-none flex-grow w-full bg-transparent border-b border-black text-black placeholder:text-black/60;
}
.main-container{
  @apply bg-[url("https://images.pexels.com/photos/10003524/pexels-photo-10003524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")] h-screen w-full bg-no-repeat bg-cover bg-center;
}

.registerInputStyle{
  @apply px-[15px] py-2 outline-none flex-grow w-full bg-transparent border-b border-black text-black placeholder:text-black/60;
}
.registerMain-container{
  @apply bg-[url("https://images.pexels.com/photos/10003524/pexels-photo-10003524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")] h-screen w-full bg-no-repeat bg-cover bg-center;
}