@tailwind base;
@tailwind components;
@tailwind utilities;
.logo{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    font-style: normal;
  


}
body{
  background-color: rgb(238, 232, 232);
}
.leftList{
  @apply hidden 2xl:block  py-4 px-10
}

*{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal
}
